*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Local configuration file (sdk keys, etc)
/sentry.properties
/release-keystore.properties
/keystore-syslor.jks
/easyscan-759e7-f0026bd39f95.json
/fastlane/temp/binary_list.txt
/threads_report.txt
/CI/env_variables.sh
/shared/reports/
/.kotlin/errors/errors-1745353671235.log
/.kotlin/errors/errors-1745394270708.log
/.kotlin/errors/errors-1745395299146.log
/.kotlin/errors/errors-1745395438601.log
/.kotlin/errors/errors-1745395544371.log
/.kotlin/errors/errors-1745395602304.log
/.kotlin/errors/errors-1745396774082.log
/.kotlin/errors/errors-1745397006235.log
/.kotlin/errors/errors-1745397184905.log
/.kotlin/errors/errors-1747040231881.log
